/*
** General settings
*/

@font-face{
    font-family: "Cactus";
    src:url(../assets/font/Cactus\ Regular.otf);
}

@font-face {
    font-family: "GothamBold";
    src: url(../assets/font/GothamBold.otf);
}
@font-face {
   font-family: "GothamBook";
   src: url(../assets/font/GothamBook.otf);
}

html {
    height          : 100vh;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: grey;
}

body {
    width           : 390px;
    height          : 844px;
    background-color: white;
}

.App,
#root {
    height: 100%;
}

.background-changer{
    height: 93%;
}

.background-changer#appHome {
    background-image : url("../assets/images/lasso-home.png");
    background-size  : cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.content {
    height: 90%;
}

/* .h1{
    text-align: left !important;
    justify-content: start;
} */
h1 {
    margin: 0;
    font-family: "Cactus";
    color: #6D1A00;
}

h2 {
    margin: 0;
}