body {
    background-color: #FFE1A6;
    overflow-y      : hidden;
}

.login {
    display       : flex;
    flex-direction: column;
    align-items   : center;

}

.form {
    margin-left   : 19px;
    margin-right  : 19px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    flex-wrap     : wrap;
}

.login p {
    margin-bottom: 8px;
    margin-top   : 16px;
    font-size    : 17px;
    font-family  : "GothamBook";
}

.login input {
    padding-top   : 17px;
    padding-bottom: 18px;
    padding-left  : 18px;
    width         : 331px;
    border-radius : 15px;
    border        : none;
    font-size     : 16px;
    margin-left   : auto;
    margin-right  : auto;
    font-family: "GothamBook";
}



.login input:focus,
.login textarea:focus,
.login select:focus {
    outline: none;
}

.mdp-oublier {
    margin-top   : 6px;
    float        : left;
    font-size    : 13px;
    margin-bottom: 19px;
    font-weight  : normal;
}

.Login {
    margin-top: 20px;
}

.second-button {
    background     : none;
    color          : black;
    font-size      : 16px;
    width          : 350px;
    text-align     : center;
    text-decoration: none;
    font-family: "GothamBook";
}

p:first-child {
    font-family: "GothamBold";
}

.center {
    margin-left : auto;
    margin-right: auto;
}