/*
**Card Swipe settings
*/

.card-swipe {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 390px;
    width           : 303px;
    border-radius   : 30px;
    background-color: white;
}

.card-swipe p:first-child {
    padding         : 0 16px;
    font-family     : "GothamBook" ;
}